@import url('https://fonts.googleapis.com/css2?family=Murecho:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    background-color: #E5E5E5;
    font-family: 'Murecho', sans-serif;
}


.container-login{
    display: flex;
    flex-direction: column;
    margin-top: 2vh;
    margin:5% 30% 5% 30%;
}

.logo{
    display: flex;
    justify-content: center;
    margin: 1vh 0 2vh 0;
    margin-bottom: 125px;
}

label{
    margin-bottom: 1vh;
    font-size: 18px;
}

input{
    background-color: #FFFF;
    border: 0;
    height: 5vh;
    border-radius: 10px;
    margin-bottom: 2.5vh;
    font-size: 15px;
    padding: 0.8vh;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.btn-entrar-conta{
    display: flex;
    margin-top: 5vh;
    justify-content: center;
}

button{
    background-color: #272E85;
    border-style: none;
    padding: 2vh;
    border-radius: 30px;
    color: #F5F5F5;
    font-weight: 600;
    font-size: 15px;
    cursor: pointer;
    width: 40%;
}

.texto-chamativo-login{
    margin-top: 8vh;
    font-size: 18px;
    margin-left: 10px;
    text-align: center;

}


.link-cadastro{
    text-decoration: none;
    color: #272E85;
    font-weight: bold;
}